@font-face {

	font-family: 'helveticabd';

	src: url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'helveticalt';

	src: url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'helveticamd';

	src: url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff');

	font-weight: normal;

	font-style: normal;

}

body {

	margin: 0;

	padding: 0;

	font-family: helveticalt;

	box-sizing: border-box;

}

li {

	/*list-style: none;*/

}

a:hover,

a:visited,

a {

	text-decoration: none;

	color: #00ADF1;

}

h4 {

	font-size: 14px;

	color: #00ADF1;

	text-transform: uppercase;

	font-weight: 700;

	font-family: 'Lato', sans-serif;

}

h2 {

	font-size: 30px;

	color: #1a1a1a;

	font-weight: 600;

	margin-bottom: 25px;

	margin-top: 0;

	font-family: 'Lato', sans-serif;

}

section {

	padding: 40px 0;

}

/*header area*/



.top-header {

	background: white;

	/*position: fixed*/

	width: 100%;

	z-index: 999;

	transition: all .7s ease 0s;

	-webkit-transition: all .7s ease 0s;

	-moz-transition: all .7s ease 0s;

	-o-transition: all .7s ease 0s;

	-ms-transition: all .7s ease 0s;

}

.top-header img.logo {

	margin-top: 10px;

	margin-left: 10px;

	transition: all .7s ease 0s;

	-webkit-transition: all .7s ease 0s;

	-moz-transition: all .7s ease 0s;

	-o-transition: all .7s ease 0s;

	-ms-transition: all .7s ease 0s;

}

.navbar-default {

	background-color: white;

	border-bottom: 1px solid #00ADF1;

	margin-bottom: 0;

}

.nav-bar {

	transition: all .7s ease 0s;

	-webkit-transition: all .7s ease 0s;

	-moz-transition: all .7s ease 0s;

	-o-transition: all .7s ease 0s;

	-ms-transition: all .7s ease 0s;

}

.navbar-toggle span {

	color: #fff;

}

ul.nav {

	margin: 23px;

	padding: 0;

}

.navbar-default .navbar-nav>li>a {

	font-size: 16px;

	color: #00ADF1;

	text-transform: capitalize;

	transition: all .7s ease 0s;

	-webkit-transition: all .7s ease 0s;

	-moz-transition: all .7s ease 0s;

	-o-transition: all .7s ease 0s;

	-ms-transition: all .7s ease 0s;

	padding: 8px 0;

	margin: 10px 15px;

}

.navbar-default .navbar-nav>li>a:hover {

	color: #808080;

	border-bottom: 2px solid #00ADF1;

}

.navbar-default .navbar-nav>li>a.active {

	color: #fff;

	border-bottom: 2px solid #CEB577;

}

.navbar-default .navbar-toggle {

	border-color: #fff;

}

/*banner area*/



.banner {

	background: url(../img/banner-2.png);

	background-repeat: no-repeat;

	background-position: center;

	overflow: hidden;

	-webkit-background-size: cover;

	background-size: cover;

	height: 490px;

	margin-top: 100px;

}

.banner .carousel-caption2 {

	margin-top: 20%;

}

.banner .carousel-caption2 h1 {

	font-size: 27px;

	text-transform: uppercase;

	font-weight: 600;

	color: #00ADF1;

	background-color: rgba(232, 238, 234, 0.9);

	border-radius: 15px;

	padding: 10px 15px;

	font-family: 'Lato', sans-serif;

}

.banner p {

	font-size: 20px;

	color: #000;

	margin-top: 15px;

	line-height: 1;

	font-weight: 500;

	background-color: rgba(205, 180, 119, 0.8);

	padding: 10px 15px;

}

.download-btn {

	width: 160px;

	height: 50px;

	background: #CEB577;

	color: #fff;

	text-transform: uppercase;

	font-size: 14px;

	border-radius: 4px;

	border: 0;

	margin-top: 60px;

	margin-right: 15px;

	font-weight: 600;

}

.features-btn {

	width: 160px;

	height: 50px;

	border-radius: 4px;

	border: 1px solid #444348;

	text-transform: uppercase;

	color: #fff;

	background: transparent;

	font-size: 14px;

	margin-top: 60px;

	margin-bottom: 105px;

	font-weight: 600;

}

.banner-img {

	position: relative;

}

.banner img {

	/*position: absolute;*/



	margin-top: 125px;

}

/*features area*/



.features img {

	margin: auto;

	display: block;

	margin-top: 20px;

}

.features i.fa {

	font-size: 25px;

	color: #e61b76;

	font-weight: 700;

	width: 80px;

	height: 80px;

	border: 1px solid #e1e1e1;

	line-height: 3;

	border-radius: 50%;

	cursor: pointer;

	transition: all .7s ease 0s;

	-webkit-transition: all .7s ease 0s;

	-moz-transition: all .7s ease 0s;

	-o-transition: all .7s ease 0s;

	-ms-transition: all .7s ease 0s;

}

.features i.fa:hover {

	color: #fff;

	background: #00adf1;

}

.features h3 {

	font-size: 21px;

	color: #1a1a1a;

	font-family: 'Lato', sans-serif;

	font-weight: bold;

}

.features p {

	font-size: 16px;

	color: #999999;

}

/*details area*/



.details p {

	font-size: 17px;

	color: #999999;

	margin: 20px 0;

}

.details ul {

	margin: 0;

	padding: 0;

}

.details h4 {

	margin-top: 50px;

}

/*feature-detail area*/



.feature-detail {

	background: rgba(128, 128, 128, 0.10);

}

.feature-detail h4 {

	margin-top: 27px;

}

.feature-detail h2 {

	margin-bottom: 10px;

}

.feature-detail p {

	font-size: 17px;

	color: #999999;

	margin-top: 20px;

}

.horizontal-phone img {

	margin: 30px 0;

}

/*contact area*/



.contact {

	background: rgba(128, 128, 128, 0.10);

	position: relative;

}

.contact-heading img {

	margin: auto;

	margin-bottom: 50px;

}

.contact i.fa {

	color: #00ADF1;

	font-size: 30px;

	padding: 20px;

}

.contact p {

	font-size: 18px;

	color: #808080;

	line-height: 1;

}

.contact-form {

	background: #5e493c;

	overflow: hidden;

	z-index: 222;

	position: absolute;

	margin-top: 50px;

}

.contact-form-left,

.contact-form-right {

	margin-top: 60px;

}

.contact-form-left input {

	width: 100%;

	height: 50px;

	padding: 12px;

	border-radius: 5px;

	border: 1px solid #444348;

	margin-bottom: 20px;

	background: transparent;

	color: #fff;

}

.contact-form textarea {

	width: 100%;

	height: 189px;

	border-radius: 5px;

	border: 1px solid #444348;

	margin-bottom: 15px;

	background: transparent;

	padding: 12px;

	color: #fff;

}

.contact-form-right input {

	width: 160px;

	height: 50px;

	color: #fff;

	text-transform: uppercase;

	font-size: 14px;

	font-weight: 700;

	background: #CEB577;

	border-radius: 5px;

	border: 0;

	margin-bottom: 40px;

}

/*map section*/

/* #map{

width: 100%;

height: 370px;

pointer-events: none;

} */

/*footer section*/



.footer {

	background: #808080;

}

.footer i.fa {

	font-size: 15px;

	padding: 20px;

	color: #fff;

	margin-top: 20px;

}

.footer i.fa:hover {

	color: #fff;

}

.footer p {

	font-size: 17px;

	color: #fff;

	margin-bottom: 30px;

}

#diferenciais {

	height: 455px;

}

/* CAPTIONS */



.carousel-caption {

	position: absolute;

	width: 365px;

	height: 425px;

	top: 19%;

	left: 25%;

	text-align: center;

	background-color: white;

	border: 3px solid #00ADF1;

	border-radius: 9px;

	text-shadow: none;

	z-index: 8;

	padding: 15px;

}

.carousel-caption h1 {

	font-size: 20px;

	color: #00ADF1;

	font-weight: bold;

	margin-bottom: -5px;

	margin-top: 0;

	font-family: 'Lato', sans-serif;

}

.carousel-caption h5 {

	color: black;

	margin-bottom: 0;

	font-family: 'Lato', sans-serif;

}

/* sm */



@media (min-width: 991px) and (max-width: 1279px) {

	.carousel-caption {

		position: absolute;

		width: 335px;

		height: 435px;

		top: -20px;

		left: 25%;

	}

	.carousel-caption h1 {

		font-size: 28px;

		margin-top: 0px;

	}

	.banner .carousel-caption2 h1 {

		margin-top: 110px;

	}

}

@media (min-width: 768px) and (max-width: 990px) {

	.carousel-caption {

		position: absolute;

		width: 335px;

		height: 480px;

		top: -20px;

		left: 50%;

	}

	.carousel-caption h1 {

		font-size: 28px;

		margin-top: 0px;

	}

	.banner .carousel-caption2 h1 {

		margin-top: 110px;

	}

}

@media (min-width: 470px) and (max-width: 767px) {

	.carousel-caption {

		width: 370px;

		height: 480px;

		top: -20px;

		left: 25%;

	}

	.carousel-caption h1 {

		font-size: 28px;

		margin-top: 0px;

	}

	.carousel-caption2 {

		display: none;

	}

}

@media (max-width: 469px) {

	.carousel-caption {

		width: 100%;

		height: 460px;

		top: -20px;

		left: 0%;

		background: white;

	}

	.carousel-caption h1 {

		font-size: 28px;

		margin-top: 0px;

	}

	.carousel-caption2 {

		display: none;

	}

	.navbar-default .navbar-collapse,

	.navbar-default .navbar-form {

		background: white;

	}

	.banner {

		height: 515px;

	}

}

/* ACCORDION SERVICES */



.accordion {

	margin: auto;

}

.accordion input {

	display: none;

}

.box {

	position: relative;

	background: white;

	height: 58.9px;

	transition: all .15s ease-in-out;

}

.box::before {

	content: '';

	position: absolute;

	display: block;

	top: 0;

	bottom: 0;

	left: 0;

	right: 0;

	pointer-events: none;

	box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);

}

.box-title {

	width: calc(100% - 40px);

	height: 64px;

	line-height: 64px;

	padding: 0 20px;

	display: inline-block;

	cursor: pointer;

	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

}

.box-content {

	width: calc(100% - 0px);

	padding: 10px 10px;

	font-size: 11pt;

	color: rgba(0, 0, 0, .54);

	display: none;

}

.bos-content li {

	list-style: aliceblue !important;

}

.box-close {

	position: absolute;

	height: 64px;

	width: 100%;

	top: 0;

	left: 0;

	cursor: pointer;

	display: none;

}

input:checked + .box {

	height: auto;

}

input:checked + .box .box-title {

	border-bottom: 1px solid rgba(0, 0, 0, .18);

}

input:checked + .box .box-content,

input:checked + .box .box-close {

	display: inline-block;

}

.arrows section .box-title {

	padding-left: 44px;

	width: calc(100% - 64px);

}

.arrows section .box-title:before {

	position: absolute;

	display: block;

	content: '\203a';

	font-size: 18pt;

	left: 20px;

	top: -2px;

	transition: transform .15s ease-in-out;

	color: rgba(0, 0, 0, .54);

}

input:checked + section.box .box-title:before {

	transform: rotate(90deg);

}

.madeby {

	position: fixed;

	bottom: 4px;

	left: 4px;

	color: rgba(0, 0, 0, .38);

	font-size: 12pt;

}

.accordion section {

	padding: 0 !important;

}



#cta {

	background: url(../img/cta.png) no-repeat;

	background-repeat: no-repeat;

	background-attachment: fixed;

	background-size: cover;

	background-position: bottom;

	text-align: center;

	font-family: inherit;

}



@media screen and (min-width: 790px) {

	#cta {

		padding: 100px;

	}

}



#cta h3 {

	width: 50%;

	margin: auto;

	color: #00ADF1;

	padding: 5px;

	border-radius: 3px;

	font-size: 30px;

	margin-bottom: 25px;

	margin-top: -15px !important;

	font-family: 'Lato', sans-serif;

}



#cta a {

	border: 1px solid #00ADF1;

	border-radius: 5px;

	padding: 10px;

	margin-top: 20px;

	cursor: pointer;

	color: #00ADF1;

	font-size: 25px;

	font-family: 'Lato', sans-serif;

	background: white;

}



#ctaBanner {

	background: #00BDEA;

	text-align: center;

	font-family: inherit;

}



@media screen and (min-width: 790px) {

	#ctaBanner {

		padding: 30px;

	}

}



#ctaBanner h3 {

	width: 50%;

	margin: auto;

	color: white;

	padding: 5px;

	border-radius: 3px;

	font-size: 30px;

	margin-bottom: 25px;

	margin-top: -15px !important;

	font-family: 'Lato', sans-serif;

}



#ctaBanner a {

	border-radius: 5px;

	padding: 10px;

	margin-top: 20px;

	cursor: pointer;

	color: #00BDEA;

	font-size: 25px;

	font-family: 'Lato', sans-serif;

	background: white;

}



#formLP input,

#formLP textarea,

#formLP select {

	margin-top: 15px;

	width: 100%;

	box-shadow: none;

	padding: 3px 0 3px 5px;

	background: white;

	border: 2px solid #bdbec1;

	border-radius: 5px;

	color: black !important;

}

#formLP button, .buttonCTA {

	box-shadow: none;

	text-shadow: none;

	padding: 5px;

	display: block;

	width: 100%;

	border: none;

	color: #ffffff !important;

	font-family: 'Lato', sans-serif;

	font-weight: bold;

	border-radius: 5px;

	text-transform: uppercase;

	font-size: 16px;

	margin-top: 15px;

	background-color: #00ADF1;

	cursor: pointer;

}

.buttonCTA {

	padding: 13px !important;

}

#formLP button:hover {

	background: transparent;

	border: 1px solid #00ADF1;

	color:  #00ADF1 !important;

}



.buttonCTA:hover {

	background: transparent;

	border: 1px solid #00ADF1;

	color: #00ADF1 !important;

}



.tabs {

	position: relative;

	margin: 40px auto;

	width: 1024px;

	max-width: 100%;

	overflow: hidden;

	padding-top: 10px;

	margin-bottom: 60px;

}



.tabs input {

	position: absolute;

	z-index: 1000;

	width: 25%;

	height: 50px;

	left: 0;

	top: 0;

	opacity: 0;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	filter: alpha(opacity=0);

	cursor: pointer;

	margin: 0;

}



.tabs input#tab-2 {

	left: 25%;

}



.tabs input#tab-3 {

	left: 50%;

}



.tabs input#tab-4 {

	left: 75%;

}



.tabs label {

	background: #00ADF1;

	color: #fefefe;

	font-size: 15px;

	line-height: 50px;

	height: 60px;

	position: relative;

	top: 0;

	padding: 0 20px;

	float: left;

	display: block;

	width: 25%;

	letter-spacing: 1px;

	font-weight: bold;

	text-align: center;

	box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);

	box-sizing: border-box;

	-webkit-transition: all 150ms ease 0s;

	transition: all 150ms ease 0s;

}



.tabs label:hover {

	cursor: pointer;

}



.tabs label:after {

	content: "";

	background: #fefefe;

	position: absolute;

	bottom: -2px;

	left: 0;

	width: 100%;

	height: 2px;

	display: block;

}



.tabs input:hover + label {

	background: #E6007E;

	/*e08f24*/

}



.tabs label:first-of-type {

	z-index: 4;

}



.tab-label-2 {

	z-index: 4;

}



.tab-label-3 {

	z-index: 3;

}



.tab-label-4 {

	z-index: 2;

}



.tabs input:checked + label {

	background: #fefefe;

	color: #1a1a1a;

	z-index: 6;

}



.content {

	height: auto;

	width: 100%;

	float: left;

	position: relative;

	z-index: 5;

	background: #fefefe;

	top: -10px;

	box-sizing: border-box;

}



.content div {

	position: relative;

	width: 0;

	height: 0;

	box-sizing: border-box;

	top: 0;

	left: 0;

	z-index: 1;

	opacity: 0;

	background: #fefefe;

	/* display: grid; */

}



.content div h2 {

	margin-top: 0;

}



.tabs .tab-selector-1:checked ~ .content .content-1,

.tabs .tab-selector-2:checked ~ .content .content-2,

.tabs .tab-selector-3:checked ~ .content .content-3,

.tabs .tab-selector-4:checked ~ .content .content-4 {

	z-index: 100;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	filter: alpha(opacity=100);

	opacity: 1;

	width: 100%;

	height: auto;

	width: 100%;

	height: auto;

	padding: 1%;

	margin: 0 auto;

}



.content div h2 {

	color: #4477cc;

}



.content div p {

	font-size: 14px;

	line-height: 22px;

	text-align: left;

	margin: 0;

	color: #777;

}



.rwd-table {

	margin: 1em 0;

	padding: 5px

}



.rwd-table tr {

	border-top: 1px solid #ddd;

	border-bottom: 1px solid #ddd

}



.rwd-table th {

	display: none

}



.rwd-table td {

	display: block

}



.rwd-table td:first-child {

	padding-top: .5em

}



.rwd-table td:last-child {

	padding-bottom: .5em

}



.rwd-table td:before {

	content: attr(data-th) ": ";

	font-weight: 700;

	width: 6.5em;

	display: inline-block

}



@media (min-width: 480px) {

	.rwd-table td:before {

		display: none

	}

	.rwd-table th,

	.rwd-table td {

		display: table-cell;

		padding: .25em .5em

	}

	.rwd-table th:first-child,

	.rwd-table td:first-child {

		padding-left: 0

	}

	.rwd-table th:last-child,

	.rwd-table td:last-child {

		padding-right: 0

	}

}



.rwd-table {

	background: #EEE;

	color: #000;

	overflow: hidden

}



.rwd-table tr {

	border-color: #00adf1

}



.rwd-table th,

.rwd-table td {

	margin: .5em 1em

}



@media (min-width: 480px) {

	.rwd-table th,

	.rwd-table td {

		padding: 1em!important

	}

}



.rwd-table th,

.rwd-table td:before {

	color: #000

}



.rwd-table th {

	font-weight: bolder;

	text-align: center

}



.rwd-table td {

	text-align: center

}



.btntabela:hover {

	transition: all .45s;

	transform: scale(1.02)

}



#formpopUP {

	margin-top: 15px;

}



#formpopUP input {

	margin-top: 15px;

	width: 90%;

	box-shadow: none;

	padding: 3px 0 3px 5px;

	background: white;

	border: 2px solid #e1e4eb;

	border-radius: 5px;

	color: black !important;

}

#formpopUP button {

	color: #ffffff !important;

	background: #E61B76;

	box-shadow: none;

	text-shadow: none;

	padding: 8px;

	font-weight: bold;

	border: none;

	border-radius: 5px;

	text-transform: uppercase;

	margin-top: 10px !important;

	margin-left: 0px !important;

}

#formpopUP button:hover {

	background: transparent;

	border: 1px solid #E61B76;

}

.responstable {

	margin: 1em 0;

	width: 100%;

	overflow: hidden;

	background: #EAF3F3;

	color: #024457;

	border-radius: 10px;

	border: 1px solid #00ADF1;

}

.responstable tr {

	border: 1px solid #00ADF1;

}

.responstable tr:nth-child(odd) {

	background-color: #EAF3F3;

}

.responstable th {

	display: none;

	border: 1px solid #EAF3F3;

	background-color: #00ADF1;

	color: white;

	padding: 1em;

	font-size: 16px;

}

.responstable th:first-child {

	display: table-cell;

	text-align: center;

}

.responstable th:nth-child(2) {

	display: table-cell;

}

.responstable th:nth-child(2) span {

	display: none;

}

.responstable th:nth-child(2):after {

	content: attr(data-th);

}

@media (min-width: 480px) {

	.responstable th:nth-child(2) span {

		display: block;

	}

	.responstable th:nth-child(2):after {

		display: none;

	}

}

.responstable td {

	display: block;

	word-wrap: break-word;

	max-width: 7em;

	font-size: 16px;

}

.responstable td:first-child {

	display: table-cell;

	text-align: center;

	border-right: 1px solid #00A1CC;

}

@media (min-width: 480px) {

	.responstable td {

		border: 1px solid #00A1CC;

	}

}

.responstable th, .responstable td {

	text-align: left;

	margin: .5em 1em;

}

@media (min-width: 480px) {

	.responstable th, .responstable td {

		display: table-cell;

		padding: 1em;

	}

}