.cloudy
    @media $tablet-max 
        background-color $blue 
        padding 20px 0 0 0 
        
    @media $small-desktop-min
        min-height 945px
        width: 100%
        margin-top: -400px
        padding-top: 570px
        position relative

    .center-content
        z-index 3

    &.hidden
        display none
    
.cloudy-bg	
    background url('../images/footer-background001.jpg') no-repeat center center / cover
    min-height 1355px
    position absolute
    bottom 0 
    left 0 
    width 100%
    
    @media $tablet-max 
        display none
        
.footer-logo-wrapper
    @media $small-desktop-min
        width: 28%
        float left
        padding-top: 75px
    
.ending-description
    color #fff
    
    @media $tablet-max
        margin-top 30px
        font-size 14px 
        line-height: 18px
    
    @media $small-desktop-min
        line-height: 24px
        font-size 16px
        text-align right 
        float left
        width: 64.52% 
        margin-left: 7.48%

    .variant
        color $green 
        font-weight: bold

.terms
    font-size 16px 
    color #FFF 
    line-height: 20px 
    
    @media $tablet-max 
        margin-bottom: 20px
    
    @media $small-desktop-min
        float left 
        
.copyright
    background-color: $green
    width: 100%
    padding 10px 0
    margin-top: 20px
    
    @media $tablet-max
        text-align center
    
    @media $small-desktop-min
        bottom 0
        height 60px
        position: absolute 

    &:before
        content ''
        display block 
        width: 100%
        background-color: rgba($green, .5)
        height: 10px
        top -10px
        
.signature
    opacity 0
    
    @media $small-desktop-min
        float right 

.signature-link
    font-size 12px
    color #FFF 
    font-weight: 700
    margin-top: 5px 
    display block
    
    @media $small-desktop-min
        margin-right: 10px
        vertical-align top
        display inline-block

        
    