input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
  background: #cccccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cccccc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
  background: #cccccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #cccccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
}
input[type=range]::-ms-fill-upper {
  background: #cccccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  height: 2.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cccccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cccccc;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
  background: #cccccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cccccc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
  background: #cccccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #cccccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
}
input[type=range]::-ms-fill-upper {
  background: #cccccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  height: 2.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cccccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cccccc;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
  background: #cccccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cccccc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
  background: #cccccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #cccccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
}
input[type=range]::-ms-fill-upper {
  background: #cccccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  border: 1.1px solid rgba(56, 58, 60, 0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  height: 2.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cccccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cccccc;
}
