.barraBrancaelogo
	position absolute
	top 71px

.logos
	position absolute
	margin-top: 60px
	width: 100%
	left 0	

.logo-wrapper
	position absolute
	left 0 
	right 0 
	margin auto
	display block
	
	@media $tablet-max
		max-width 300px
	
	@media $small-desktop-min
		width 503px	