.overlay
    position fixed
    top 0 
    left 0 
    width: 100% 
    height 100%
    background-color: rgba($blue, .93)
    z-index 11
    display none
    
.form-wrapper-all
    min-height: 460px
    width: 520px
    background-color: #FFF
    border-radius 4px
    font-size 0
    absoluteCenter()
    box-shadow  0 0 20px 0 rgba(#000, .1)
    display none

    @media $tablet-max
        width 100%
    
    .instance
        &:not(.active)
            display none
    
.form-pickers
    background-color: #f1f2f2
    color #58595b
    font-size 11px
    height: 47px
    border 0
    display inline-block
    vertical-align top
    width: 32.666%
    font-weight: 700
    @extend .transitioned-basic
    
    & + .form-pickers
        margin-left: 0.6667%
        
    i
        color $green
        font-size 16px
        margin-right: 5px
        
        &.alt 
            font-weight: 300

    &.active, &:hover
        background-color $green 
        color #FFF

        i 
            color $blue
            
        
.leave-message
    text-align center
    
    .fields
        max-width 300px 
        margin auto
        
        .half 
            @media $small-desktop-min
                width: 47.5%
                float left
            
            & + .half 
                @media $small-desktop-min
                    margin-left: 5%
                    
        .full 
            clear both 
            
    .field-wrapper
        width: 100%
        display block
        margin-bottom: 10px
        position relative
        
        .icon 
            position absolute
            left 2px 
            height: 36px
            background-color: #FFF
            top 1px 
            bottom 1px
            width: 36px 
            text-align center
            
            i 
                color $green 
                font-size 16px
                line-height: 34px
            

.field-green
    height: 38px
    border 1px solid $green 
    border-radius 4px
    width: 100%
    padding 5px 10px
    
    &.bigger
        height: 75px
        
    &.has-icon 
        padding-left: 40px

.leave-title
    font-size 20px
    color $gray 
    font-weight: 700
    line-height: 24px
    padding-top: 40px
    margin-bottom: 20px
    max-width 360px
    display block
    margin-left: auto  
    margin-right: auto
    width: 100%
    
    .variant 
        font-size 30px
        display block
        margin-bottom: 10px
    
.callers
    font-size 14px 
    color $gray
    margin-top: 18px 
    
    .number 
        padding 3px 8px 
        border-radius 50% 
        color #FFF
        background-color: red
        // display inline-block
        // vertical-align top