// helper ~ generic classes 

.center-content 
	width 100% 
	margin auto 
	z-index 2
	margin-left auto
	margin-right auto
	
	@media $smallest-desktop-minmax 
		padding 0 10px
	
	&:not(.not-relative)
		position relative
		
	&:not(.nopadding)
		@media $tablet-max
			padding 0 15px
			
	&:not(.inner)
		@media $small-desktop-min
			width 1170px
			
		@media $smallest-desktop-minmax
			width 1000px
		
	&.inner 
		@media $small-desktop-min
			width 1030px
			
.flexed 
	display flex
		
	&.default  
			
		@media $small-desktop-min
			flex-flow row wrap 		
			align-items center
			justify-content space-between
			
	&:not(.becomes-carouse-on-mobile)
		@media $tablet-max
			flex-flow column wrap
	
.dib 
	display inline-block
	vertical-align top
	
.cleared 
	&:after
		content ''
		display block
		clear both 
		
.transitioned-basic
	transition all .2s ease-in-out
			
.hideonmobile
	@media $tablet-max
		display none
			
// .mobile-helper-text
// 	font-size 12px 
// 	color #FFF
// 	font-weight 300
// 	text-align centerss
	
// 	@media $small-desktop-min
// 		display none
	
// 	i 
// 		color $red
// 		font-size 10px
		
// 		&:first-of-type
// 			margin-right 5px
			
// 		&:last-of-type
// 			margin-left 5px
		
		