.cloudy
    @media $tablet-max 
        background-color $blue 
        padding 60px 0 0 0 
        
    @media $small-desktop-min
        min-height 945px
        width: 100%
        margin-top: -400px
        padding-top: 570px
        position relative

    .center-content
        z-index 3

    &.hidden
        display none

    .row small 
        @media $tablet-max
            height auto
            overflow hidden
    
.cloudy-bg	
    background url('../images/footer-background001.jpg') no-repeat center center / cover
    min-height: 1457px /*min-height 1355px*/
    position absolute
    bottom 0 
    left 0
    width 100%
    
    @media $tablet-max 
        display none
        
.footer-logo-wrapper
    @media $small-desktop-min
        width: 28%
        float left
        padding-top: 75px
    
.ending-description
    color #fff
    
    @media $tablet-max
        margin-top 30px
        font-size 14px 
        line-height: 18px
    
    @media $small-desktop-min
        line-height: 24px
        font-size 16px
        text-align left 
        float left
        width: 64.52% 
        margin-left: 7.48%

    .variant
        color $green 
        font-weight: bold

    &.four
        @media $tablet-max
            width 100% !important 

        &:not(:last-child)
            margin-bottom 30px

.terms
    font-size 16px 
    color #FFF 
    line-height: 20px 
    
    @media $tablet-max 
        margin-bottom: 20px
    
    @media $small-desktop-min
        float left 
        
.copyright
    background-color: $green
    width: 100%
    padding 10px 0
    margin-top: 20px
    
    @media $tablet-max
        text-align center
    
    @media $small-desktop-min
        bottom 0
        height 60px
        position: relative 

    &:before
        content ''
        display block 
        width: 100%
        background-color: rgba($green, .5)
        height: 10px
        top -10px
        
.signature
    opacity 0
    position: absolute;
    
    @media $small-desktop-min
        float right 

.signature-link
    font-size 12px
    color #FFF 
    font-weight: 700
    margin-top: 5px 
    display block
    
    @media $small-desktop-min
        margin-right: 10px
        vertical-align top
        display inline-block

        
.row{
    
    border: 1px solid #17527a;
    display: block;
    height: auto;
    overflow: auto;
    position: relative;
    small{
            color: #fff;
            display: block;
            height: 31px;
            padding-top: 19px;
         }
} 

.just {
    text-align: justify !important;
    }
   
.deslocamento {
    border:1px solid #17527a;
    transform: translateY(17px);
    padding-top: 20px;
    }

.four {
    font-size: 12px!important;
    border: 0 solid red;
    display: inline-block;
    margin: 0!important;
    padding: 1%;
    text-align: left!important;
    width: 25%!important;
    line-height: 20px!important;
        h4{
            font-weight: bold;
          }
}

.four:first-of-type {
    padding-left: 0;
}

.four:last-of-type {
    padding-right: 0;
}

.rodapeDados{
    position: relative;
    top: -20px;
}