.barraBrancaelogo
	position absolute
	top 71px

.img-phone
	position:relative
	right:100px

p.phone-header 
	 position:relative
	 right:18px
	 color:#fff
	 font-size:20px
	 font-weight:500
	 letter-spacing:1px
	 bottom:54px
 
	@media $tablet-max
		position fixed !important
		z-index 12

.logos
	position absolute
	margin-top: 60px
	width: 100%
	left 0	

.logo-wrapper
	position absolute
	left 0 
	right 0 
	margin auto
	display block
	
	@media $tablet-max
		max-width 300px
	
	@media $small-desktop-min
		width 503px	
		

@media screen and (max-width: 1000px) {
	 	.barraBrancaelogo{
				position: absolute;
				top: 1px!important;
				left: 50%;
				transform: translateX(-50%);
				height: 190px;
				width: 326px;
				}
		.barraBrancaelogo img{
	   			-ms-transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				border: 0 solid red;
				left: 50%;
				position: relative;
				transform: translateX(-50%);
				width: 100%;
				height: 159px;
				top: -7px;
		}        
}




.telefoneContato{display:none;}
	@media screen and (min-device-width: 1800px) and (max-device-width:1920px) { 
		.telefoneContato{
			   display:block;
			   position: absolute;
			   top: 73px;
			   right: 18%;
			}
	}

@media screen and (min-device-width: 1601px) and (max-device-width:1799px) { 
		.telefoneContato{
			   display:block;
			   position: absolute;
			   top: 73px;
			   right: 15%;
			}
	}

@media screen and (min-device-width: 1300px) and (max-device-width:1600px) { 
		.telefoneContato{
			   display:block;
			   position: absolute;
			   top: 73px;
			   right: 6%;
			}
	}
@media screen and (max-device-width:1299px) { 
		.telefoneContato{ clear:none; }
	}

@media screen and (max-device-width:999px) { 
		.telefoneContato,.linkSeguro{ display:none; }
	}





#Topo1{
	position: absolute!important;
	top: -29px!important;
	background-color: white!important;
	width: 100vw;
	left: 50%!important;
	transform: translateX(-50%)!important;
	height: 119px!important;
}

 #Topo2{
   position: absolute;
	top: 95px;
	/* border: 1px solid red; */
	left: 50%;
	transform: translateX(-50%);
	padding-top: 7px;
	background-color: #ffffff00;
	/* width: 137%; */
}
#Topo2 img {
	/* border: 0 solid red; */
	height: auto!important;
	position: relative;
	top: -7px;
	width: 192px;
}

.primeiratlogoTopoBarraBranca{ 
	transform: translateY(-20px);
	height:113px;
}

#Topo1 img 
	@media $tablet-max
		width auto 
		absoluteCenter()
		top 55%
		max-width 266px
		height auto