.submit-budget-form
	width: 100%
	height: 47px
	background-color: #18527a
	font-size 18px
	color #FFF 
	font-weight: 700
	border 2px solid transparent
	border-radius 4px
	@extend .transitioned-basic 
	
	
	&:hover 
		color $green 
		background-color #FFF 
		border-color $green
	
.table-picker
	height: 47px
	border-radius 4px
	color #FFF
	background-color: #1b6c9d
	border 0
	@extend .transitioned-basic

	@media $tablet-max
		font-size: 12px
		width 47.5%

	@media $small-desktop-min
		font-size 16px
		width 22.22%
	
	&.active, &:hover
		background-color: $blue

	&:nth-of-type(-n+2)
		@media $tablet-max
			margin-bottom 15px

	& + .table-picker:not(:nth-of-type(2n+3))
		@media $tablet-max
			margin-left 2.5%    
		
	& + .table-picker
		@media $small-desktop-min
			margin-left: 3.4%
	
.submit-proposition
	width: 100%
	height: 47px
	background-color: $blue
	font-size 18px
	color #FFF 
	border-radius 4px
	font-weight 700
	border 2px solid transparent 
	@extend .transitioned-basic
	
	&:hover 
		color $blue 
		background-color: #FFF 
		border-color $blue
	
	.fa-paper-plane
		color $green
		font-size 16px
		margin-right 5px

.submit-ending-form
	height 47px
	background-color: #18527a
	width 190px
	display block 
	font-size 18px
	font-weight: 700
	color #FFF 
	border 2px solid transparent
	border-radius 4px 
	margin-top: 29px
	width: 190px
	right: 41px
	bottom: -74px
	@extend .transitioned-basic

	@media $small-desktop-min
		position: absolute

	i 
		color $green
		margin-right 10px
		
	&:hover 
		background-color: #FFF
		color $green
		border-color $green
		
.call-me-later
	width: 300px
	height 42px
	background-color: #18527a
	color #FFF 
	font-size 20px 
	font-weight: 500
	border 2px solid transparent 
	border-radius 4px
	@extend .transitioned-basic
	
	
	&:hover
		color $green 
		border-color $green 
		background-color: #FFF
		
.confirm
	width: 78px
	display block
	margin-left: auto 
	margin-right: auto 
	height: 30px 
	background-color: #18527a
	font-size 16px
	color #FFF
	border 2px solid transparent 
	border-radius 4px 
	transition .2s ease
	
	&:hover 
		background-color: #FFF
		color $green 
		border-color $green
		
.close-whatsapp
	color $gray 
	position absolute
	top 15px 
	right 5px 
	font-size 32px
	border 0 
	background-color: transparent 
	padding 0
	
.close-modal
	position absolute
	top 10px 
	right 10px 
	font-size 48px 
	border 0 
	background-color: transparent 
	padding 0 
	@extend .transitioned-basic
	color #FFF
	
	&:hover 
		color $green

button:disabled 
	opacity .5
	cursor not-allowed 
			
.superseguros
	position absolute
	right 0
	top 10px
	transform translateY(-50%)
	font-size 16px
	font-weight 700
	width 280px
	height 47px
	display block
	color white
	background-color #18527a
	border-radius 5px
	text-align center
	line-height 41px
	border 2px solid transparent 
	transition all .25s ease

	&:hover
		border-color $blue 
		color $blue 
		background-color #FFF