.opening-contain-obrigado
    background url('../images/opening-obrigado.jpg') no-repeat top center / cover 
    height 100vh



    .tks-text
        absoluteCenter()
        top 43% 
        font-size 48px
        color #FFF
        text-shadow 2px 2px rgba(#000, .3)
        font-weight 700
        text-align center
        max-width 1000px

        @media $mobile-max
            font-size: 28px
            

        a 
            color $green 
            @extend .transitioned-basic

            &:hover
                color $blue
    