#MeuModalBG{
	background-color: rgba(24, 82, 122, 0.94);
    height: 100%!important;
    left: 0!important;
    position: fixed;
    top: 0!important;
    width: 100%;
    z-index: 40;
}


#MeuModal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#closeBTN{
	    position: absolute;
	    top: -34px;
	    right: -44px;
	    border: 7px solid #255c81;
	    padding: 9px 15px 7px 18px;
	    background-color: white;
	    border-radius: 107px;
	    width: 68px;
	    font-size: 30px;
	    font-weight: bolder;
	    height: 68px;
	    color: #25d366;
}



@media (max-width: 600px) 
{

		#closeBTN {
		    background-color: #fff;
		    border: 7px solid #255c81;
		    border-radius: 107px;
		    color: #25d366;
		    font-size: 30px;
		    font-weight: bolder;
		    height: 68px;
		    padding: 9px 15px 7px 18px;
		    position: absolute;
		    right: 7px;
		    top: 8px;
		    width: 68px;
		}
		#MeuModal {
		    -ms-transform: translate(-50%,-50%);
		    width: 100%;
		    border: 0px solid red;
		    /* height: 205px!important; */
		    top: 0;
		    left: 0;
		    transform: translate(0,0);
          }

}


.red{
	background-color:red!important;
	color:white!important;
	font-weight: bold!important;
}

.verde{
	background-color: #25d366!important;
    color: white!important;
    font-weight: bold!important;
}
.tables{
	margin-bottom:83px;
}




.whatsApplateral{
	font-size: 67px;
    position: relative;
    right: -9px;
    top: 25px;
    color: white;
    /* border: 2px solid; */
    /* background-color: #25d366; */
    border-radius: 69px;
    width: 75px;
    height: 75px;
}