		.produtos{
		 height: auto;
		 display: block;
		 overflow: overlay;
		 min-height: 400px;
		 border:0px solid red;
	 }

	 .carros{    
		/* border: 1px solid red; */
		clear: both;
		padding-top: 55px;
		padding-bottom:30px;
	}

	.quadro{
	 border-radius: 14px;
	 float: left;
	 margin-bottom: 161px;
	 margin-left:18px
	 margin-right: 18px;
	 padding: 0.6%;
	 width: 256px;
	 box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.1);
	 box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.1);

	 img{
		 height: auto;
		 left: 50%;
		 position: relative;
		 transform: translateX(-50%);
		 margin-top: 21px;
		 margin-bottom: 21px;
	 }

	 .nomeCarro{
		margin-top:7px;
		border:0px solid red;
		text-align:center;
		font-size:14px;
		font-weight:bolder;
		text-transform:capitalize; 
		height: 30px;
	}
	 .nomeCarro p{
	 	text-transform:uppercase;
	 }

	.parcela{
		margin-bottom:26px;
		border:0px solid red;
		color:#939598;
		text-align:center;
		margin-top:24px;
		font-size:16px;
		text-align:center;
	}
	.parcela .destaqueQuadro{
	 font-weight: 700;
	 /* border: 1px solid red; */
	 display: block;
	 font-size: 22px;
	 color: #18527a;
 }  

 .credito{
	 color:#939598;
	 font-size:16px;
	 text-align:center;
	 text-transform:capitalize;
 }
 .credito .destaque{
	color:#58595b;
	display:block;
	font-size:24px!important;
}

a {
 background-color: #18527a;
 color: #fff;
 display: block;
 height: 50px;
 padding: 15px 0 0 0;
 position: relative;
 text-align: center;
 text-decoration: none!important;
 top: 85px!important;
 width: 100%;
 font-size: 16px;
 text-transform: uppercase;
 font-weight: bold;
 border-radius: 12px;

}
}

.textarea{
	width:116%!important;
}



@media screen and (max-width: 1920px) {
	.call-cta-wrapper {
		bottom: 38px;
		position: fixed;
		right: 6px;
		text-align: center;
		z-index: 10;
	}
	.tooltip-text {
		color: #6d6e71;
		font-size: 13px;
		margin-bottom: 11px;
		font-weight: bold;
	}

	.tooltip {
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		min-height: 77px!important;
		padding: 8px 7px 6px;
		position: relative;
		text-align: center;
		width: 125px;
		position: relative;
		/* right: 0px!important; */
	}


	.call-cta{
		bottom: 13px;
		position: relative;
		right: -4px;
		width: 65px;
	}
}






@media screen and (max-width: 1366px) {
	.call-cta-wrapper {
		bottom: 38px;
		position: fixed;
		right: 6px;
		text-align: center;
		z-index: 10;
	}
	.tooltip-text {
		color: #6d6e71;
		font-size: 13px;
		margin-bottom: 11px;
		font-weight: bold;
	}

	.tooltip {
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		min-height: 77px!important;
		padding: 8px 7px 6px;
		position: relative;
		text-align: center;
		width: 125px;
		position: relative;
		/* right: 0px!important; */
	}


	.call-cta{
		bottom: 13px;
		position: relative;
		right: -4px;
		width: 65px;
	}
	.quadro{
		width: 256px;
	}
}

@media screen and (max-width: 979px) {
	.textarea{width:125%!important;}
}



.textoApresentacao{
	position:relative;
 float: left;
 width: 49%;
 padding: 0 30px 0px 30px;
}
h3:nth-child(2){
	border:1px solid red;
}





/********************************/
/********************************/
.personaRodape{
	border:0px solid red;
	animation: mymove 3s;
}


@keyframes mymove {
	0%{
		right:-300px;
		opacity:0;
	}



	100% {
	 right:59px;
	 opacity:1;
 }
}

/********************************/
/********************************/
.textosAnimados{
	animation: myTexts 3s;
}   

@keyframes myTexts {
	0%{
		bottom:-40%;
		opacity:0;
	}



	100% {
		left:0;
		opacity:1;
	}
}

/********************************/
/********************************/


.desktop ,.table_desktop { display:block; }
.mobile, .table_mobile{ display:none; }

.destaque{
	background-color: #018fdb!important;
	color: white!important;
	font-size: 22px!important;
	text-transform: capitalize!important;
	font-weight: bold!important;
	width: 100%!important;
}


.table_mobile table tr td{
	font-size:15px!important;
	font-weight:bold;
}

.table_mobile thead td{
	background-color:#18527a!important;
}



@media (max-width: 1000px) 
{

	.table_desktop{ display:none; }
	.table_mobile{ display:block; }


	.desktop{ display:none; }

	.mobile{  
		display: block!important;
		position: relative;
		width: 100%;
		padding:5px 0 5px 0;
	}

	.mobile img{
		border: 0px solid red;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;

	}


	.quadro{
		width:90%;
	}

	.textoApresentacao{
	 float:none;
	 width:99%;
 }

 #slider{
	 display:none;
 } 


}

@media screen and (max-width: 600px) 
{
	.table, .plans{
		position: relative;
		left: -5px;
	}
	.table-basic tbody td {
		font-size: 12px;
		padding: 5px 10px 12px 10px;
	}


	.submit-ending-form{ width:100%!important; }/*não estava alterando no arquivo buttons.styl*/


	.checkbox-wrapper{
		display:block;
		border:0px solid red;
		width:100%;
		margin-left:0!important;
	}


}







#slider {
	position: relative;
	overflow: hidden;
	margin: 20px auto 0 auto;
	border-radius: 4px;

	position: absolute;
	top: -88px;
	left: -70px;
	z-index: -1;
	border: 0px solid red;
}

#slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	height: 200px;
	list-style: none;
}



#slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 912px;
	height: 685px;
	/*background: #ccc;*/
	text-align: center;
	line-height: 300px;
}

a.control_prev, a.control_next {
	position: absolute;
	top: 40%;
	z-index: 999;
	display: block;
	padding: 4% 3%;
	width: auto;
	height: auto;
	/*background: #2a2a2a;*/
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	opacity: 0.8;
	cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
	opacity: 1;
	transition: all 0.2s ease;
}

a.control_prev {
	border-radius: 0 2px 2px 0;
}

a.control_next {
	right: 0;
	border-radius: 2px 0 0 2px;
}

.slider_option {
	position: relative;
	margin: 10px auto;
	width: 160px;
	font-size: 18px;
}










.whatsAppLateral:before
{
	content: "";
	border: 1px solid red;
	height: 60px;
	width: 60px;
	display: block;
}
.whatsAppLateral{
 border-radius: 69px;
 color: #fff;
 font-size: 67px;
 height: 75px;
 position: relative;
 right: -9px;
 top: 25px;
 width: 75px;
 background-color: #25d366;
}
.whatsAppLateral > *{
	position:absolute;
}


/***********pulse button************/
.container {

	position: relative;
	top: 75px;
	width: 200px;
	right: -26px;
	perspective: 1000;
	height: 100%;
	margin: 0 auto;
	position: relative;
	right: -15px;
	top: 83px;
	width: 200px;
}

.pulse-button {
	animation: pulse .8s infinite;
	box-shadow: 0 0 0 0 rgba(37,211,102,.74);
	box-shadow: 0 0 0 0 rgba(37,211,102,.53);
	background: rgba(37,211,102,.82);
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(37,211,102,.53);
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Trebuchet MS,sans-serif;
	font-size: 4.3em;
	font-weight: light;
	height: 65px;
	left: 74%;
	letter-spacing: -1px;
	line-height: 66px;
	margin-left: -50px;
	margin-top: -50px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 65px;
}
.pulse-button:hover {
	animation: none;
}

@keyframes pulse {
	0% {
		@include transform(scale(.9));
	}
	70% {
		@include transform(scale(1));
		box-shadow: 0 0 0 20px rgba(#5a99d4, 0);
	}
	100% {
		@include transform(scale(.9));
		box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
	}
}
/***********************************/
.close-whatsapp{
	color: #dadada!important;
	z-index:10;
}
input, select{
	color: #8a8a8a;
	background-color: white;
}

.slick-dots li button{
    display: none;
}
    
#slider{
    height:100%;
    width:73%;
}

.whatsapp-wrapper {
 top: 30%!important;
}


.tracked{
	color:white;
}


.align1{
	position: relative!important;
}

@media screen and (max-width: 1279px) 
{
	.align1{
		 left: 0%!important
	}

}

@media $tablet-max {
	.money-grubbing {
		display none
	}
}