.center-content 
    width 100% 
    margin auto 
    z-index 2
    margin-left auto
    margin-right auto
    
    @media $smallest-desktop-minmax 
        padding 0 10px
    
    &:not(.not-relative)
        position relative
        
    &:not(.nopadding)
        @media $tablet-max
            padding-left 15px
            padding-right 15px
            
    &:not(.inner)
        @media $small-desktop-min
            width 1170px
            margin-top:23
            
        @media $smallest-desktop-minmax
            width 1000px !important 
 
.flexed 
    display flex
        
    &.default      
        @media $small-desktop-min
            flex-flow row wrap 		
            align-items center
            justify-content space-between

    &.start 
        @media $small-desktop-min
            flex-flow row wrap 
            align-items start 
            justify-content space-between
            
    &:not(.becomes-carouse-on-mobile)
        @media $tablet-max
            flex-flow column wrap
    
.dib 
    display inline-block
    vertical-align top
    
.cleared 
    &:after
        content ''
        display block
        clear both 
        
.transitioned-basic
    transition all .2s ease-in-out
            
.hideonmobile
    @media $tablet-max
        display none

.becomes-carousel-on-mobile
    @media $tablet-max
        .slick-slide
            margin 0 40px 

        .slick-list
            margin 0 -40px