.opening-contain-form
	background url('../images/opening1.jpg') no-repeat top center / cover 
	

	@media $tablet-max
		padding-top: 185px
		
	@media $small-desktop-min
		// min-height 1433px
		min-height 1033px
		padding-top: 266px
	
	.title-several-variants
		text-align center
		// &:first-of-type
		// 	@media $small-desktop-min
		// 		max-width 800px

	.scroll-to-see
		@media $tablet-max
			margin-bottom 30px

	
.textoApresentacao
	@media $tablet-max
		margin-bottom 30px 

	@media $small-desktop-min
		margin-bottom 74px

.textoApresentacao
	@media $tablet-max
		text-align center

.submit-budget
	background-color: #FFF
	padding-top 42px
	padding-bottom 46px
	padding-left: 40px
	padding-right: 40px
	max-width 420px
	min-height 595px
	border-radius 4px
	box-shadow 0 0 15px 0 rgba(#000, .1), 0  0 0px 12px rgba(#FFF, .2)
	margin-bottom 51px
	
	@media $small-desktop-min
		float right
	
	.field
		border 1px solid $green
		padding 5px 10px
		height: 40px
		border-radius 4px
		width 100%
		
	& > .field-wrapper
		margin-bottom: 14px
		width: 100%
		display block

		
	
.form-title
	font-weight: 500
	margin-bottom: 13px
	color $gray
	
	@media $tablet-max 
		font-size 18px 
		line-height 26px 
		margin-bottom 35px 
		
	@media $small-desktop-min
		font-size 22px
		line-height: 42px
	
	.variant 
		display: block
		font-size 40px
		color $blue
		font-weight 700
	
.form-desc
	font-size 16px
	line-height: 20px
	color $gray
	margin-bottom: 15px
	
.checkbox-desc
	font-weight 500
	color $gray
	font-size 16px
	margin-bottom: 14px
	line-height: 20px
	
.checks
	font-size 0

.checkbox-wrapper
	display inline-block
	vertical-align top
	font-size 12px
	color $gray
	line-height 20px
	
	p
		padding-top: 2.3px
	
	input 
		height: 20px
		width: 16px
		
	& + .checkbox-wrapper
		margin-left 12px
		
.track-wrapper
	position relative
	
	&:before, &:after
		content ''
		absoluteVertical()
		height 12px
		width 12px
		background-color #cccccc
		border-radius 50%
		
	&:before
		left 0 
		
	&:after
		right 0
		
.range-desc
	font-size 16px
	line-height: 20px
	color $gray
	margin-bottom: 18px

.textApresentacao
	@media $tablet-max
		margin-bottom 30px

	@media $small-desktop-min
		margin-bottom 74px
	

.title-several-variants
	color $gray
	
	@media $tablet-max
		font-size 30px 
		line-height: 36px 
		text-align center
		margin-bottom: 25px
		
	@media $small-desktop-min
		margin-bottom: 58px
		font-size 40px
		line-height: 40px
		
.bluey
	font-weight bold
	color #18527a
	text-transform uppercase
	
	@media $tablet-max
		font-size 25px
		
	@media $small-desktop-min
		font-size 40px

	&.nobreak
		display inline-block
	
.table01
	display: block 
	margin-left auto
	margin-right: auto

	@media $small-desktop-min
		margin-bottom: 61px
	
.dib-father
	text-align center
	font-size 0
	margin auto
	
	@media $small-desktop-min
		padding 65px 0
	
.money-grubbing
	display none
	
	// @media $tablet-max 
	// 	text-align center
	// 	background-color: $blue 
	// 	padding 50px 0
	// 	background url('../images/moneybackground.jpg') no-repeat center center / cover
	
	// @media $small-desktop-min
	// 	background url('../images/moneybackground.jpg') no-repeat center center / cover
	// 	height 310px
		
	
.icon-wrapper
	display inline-block
	vertical-align top

	@media $tablet-max
		width 300px

	@media $small-desktop-min
		width 220px
	
	&:not(:last-child)
		@media $tablet-max
			margin-bottom: 30px
	
	& + .icon-wrapper
		@media $small-desktop-min
			margin-left 110px

.icon-instance
	@media $mobile-max
		max-width 120px
	
.icon-description
	color #FFF
	font-weight 700
	margin-top: 20px

	@media $tablet-max 
		font-size: 16px

	@media $small-desktop-min
		font-size 20px
	
.other-plans
	padding-top 70px
	padding-bottom: 80px
	// // display none

	// @media $tablet-max
	//     display none

.overflow-wrapper
	width 100% 

	@media $tablet-max
		overflow-x scroll
	
.buttons-and-table
	width 900px
	margin-left: auto
	margin-right: auto

	@media $tablet-max
		width 100%
	
.table-basic

	&:not(.active)
		display none

	td 
		border 1px solid #FFF
		text-align center
		vertical-align middle

	table 
		width 900px
		margin-left:67px;

	thead
		td
			background-color $lightBlue
			color #FFF 
			font-weight bold
			text-align center

			@media $tablet-max
				height 45px
				font-size 13px 

			@media $small-desktop-min
				font-size 16px 
				height 31px

			&:first-of-type
				border-top-left-radius 5px 

			&:last-of-type 
				border-top-right-radius 5px

	tbody 
		td 
			background-color #d4effc
			color $gray
			height 30px

			@media $tablet-max
				font-size: 12px

			@media $small-desktop-min
				font-size 16px 
					

.pickers
	margin-bottom: 32px
	
.proposition
	background url('../images/moneybackground2.jpg') no-repeat center center / cover
	position relative
	
	@media $tablet-max 
		padding-bottom: 50px
	
	.center-content
		min-height 229px
	
	.one-fourth
		@media $small-desktop-min
			float left
			/*width: 23.75%*/
			width: 21.5%
			margin-right: 2%
			
		& + .one-fourth
			@media $small-desktop-min
				margin-left 1.66%
		
.proposition-form
	@media $small-desktop-min
		width:76% /*width: 850px */

.proposition-title
	color #FFF 
	margin-bottom: 25px
	padding-top: 50px
	text-shadow 3px 2.5px rgba(#000, .15)
	
	@media $tablet-max
		line-height: 32px
		font-size 28px
		
	@media $small-desktop-min
		font-size 36px 
		line-height: 42px

	.variant
		font-weight 700
		
.field-whitey
	width: 100%
	border 0
	background-color: #FFF
	height: 47px
	border-radius 4px
	padding 5px 10px
	
	@media $tablet-max 
		margin-bottom: 15px
	
.persona
	width: 223px
	height: 358px
	background url('../images/persona00.png') no-repeat center center / contain
	position absolute
	bottom 0 
	right 59px
	
	@media $tablet-max
		display none
		
.uncontained-bg
	width: 100%
	height 1144px
	background-repeat no-repeat 
	background-size cover 
	background-position center center 
	background-image url('../images/bg.jpg'), linear-gradient(to bottom, #FFF, transparent)
	z-index -1
	absoluteVertical()
	opacity .4
	left 0 
	
.ending 
	.center-content 
		padding-bottom 60px

		@media $tablet-max
			padding-top 52px

		@media $small-desktop-min
			padding-top: 106px

.ending-form-title
	color $gray 
	font-size 40px
	line-height: 40px
	
	.variant
		display block
		color: #18527a;
		font-weight: 700
		margin-bottom: 36px
		
.ending-form
	max-width: 600px;
	position: relative;
	
	@media $tablet-max
		margin-left: auto 
		margin-right: auto

	.message
		width 80%

	.field-wrapper:not(.message)
		@media $small-desktop-min
			padding 0 18px 0 0
			width 47.5%
			float left

.ending-form-desc
	font-size 16px
	color $gray 
	line-height: 24px

	&:not(:last-child)
		margin-bottom: 30px

.half-info
	margin-bottom: 35px 
	
	@media $small-desktop-min
		float left
		width 45.83%
		
	& + .half-info
		@media $small-desktop-min
			margin-left: 8.34%
		
.half-title
	font-size 20px  
	color $gray
	line-height: 20.56px
	margin-bottom: 28px
	
	.variant
		display block 
		color $blue
		font-size 28px
		line-height: 30px
		font-weight: 700
		
.phone-number
	font-size 24px
	color $blue
	font-weight: 700
	margin-left: 10px
	padding-top: 12px
	
	a 
		color inherit 
		@extend .transitioned-basic

		&:hover 
			color $green
	
.fa-whatsapp.huge
	font-size 50px
	color $green
	
.ending-form
	.half
		@media $small-desktop-min
			width: 47.5%
			float left
			
		& + .half:not(:nth-of-type(2n+3))
			@media $small-desktop-min
				margin-left: 5%
				
	.field-wrapper
		margin-bottom 28px
		display block

.field-description
	color: #6d6e71
	font-size: 16px
	line-height: 22px
	margin-bottom: 7px
			
.field-blue
	height: 38px
	width: 100%
	border 1px solid $blue
	border-radius 4px
	padding: 0px 5px 0px 5px;
	
	&.bigger
		height 100px
		
.salesman-prop
	width: 630px
	height 945px
	position absolute
	bottom 0 
	right 0 
	z-index -1 
	background url('../images/persona01.png') no-repeat center center / contain
	

.call-cta-wrapper
	position fixed
	right 38px
	bottom 38px 
	z-index 10
	text-align center
	
	@media $tablet-max
		display none
		
.tooltip
	width: 165px
	min-height 148px
	padding 0 14px
	padding-top: 22px
	padding-bottom: 19px
	position relative
	background-color: #FFF
	text-align center
	border-radius 4px
	box-shadow 0 0 10px 0 rgba(#000, .1)
	
	&:after
		top: 100%
		left: 50%
		border: solid transparent
		content: ""
		height: 0
		width: 0
		position: absolute
		pointer-events: none
		border-color: rgba(255, 255, 255, 0)
		border-top-color: #FFf
		border-width: 10px
		margin-left: -10px
		// box-shadow 0 0 10px 0 rgba(#000, .1)
		
.tooltip-text
	font-size 14px 
	color $gray 
	margin-bottom: 11px
	
	.variant 
		font-size 20px 
		font-weight: 700
		display block
		margin-bottom: 5px
		
.call-cta
	margin-top: 30px
	
.whatsapp-wrapper
	position fixed
	z-index 10 
	right 0 
	top 40%
	transform translateY(-50%)
	@extend .transitioned-basic
	
	@media $tablet-max
		display none
	
	@media $desktop-minmax 
		top: 30% !important 
	
	&.clicked
		transform translateY(-50%) translateX(100%)
	
.handle-overflow-outer
	@media $small-desktop-min
		margin-left auto 
		margin-right auto 
		width 900px
		
	@media $tablet-max
		width 100%	
		overflow-x scroll
		
.handle-overflow
	width 900px
	
	img 
		max-width none

.mobile-whatsapp-wrapper
	position fixed 
	bottom 0 
	left 0 
	width 100% 
	font-size: 0
	z-index 10
	
	@media $small-desktop-min
		display none

	a 
		height 40px 
		display inline-block
		vertical-align top
		background-color $green
		box-shadow inset 0 0 10px rgba(#000, .2)
		width 50%
		font-size: 12px 
		color #fff
		text-align center 
		line-height 38px
		font-weight 700
		text-transform uppercase

		&:last-of-type
			border-left 1px solid #FFF
		
		i  
			font-weight 400
			color $blue
.newLine
	display block
	border 0px solid red

.brokenLine
	clear: both;
	
.comparativo 
	border 0px solid red
	padding-left 0px/*padding-left: 67px;*/

