textarea {
  resize: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  font-family: 'Segoe UI';
}
body.no-scroll {
  overflow: hidden;
}
body,
html {
  font-size: 10px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
a {
  text-decoration: none !important;
}
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
.produtos {
  height: auto;
  display: block;
  overflow: overlay;
  min-height: 400px;
  border: 0px solid #f00;
}
.carros {
/* border: 1px solid red; */
  clear: both;
  padding-top: 55px;
  padding-bottom: 30px;
}
.quadro {
  border-radius: 14px;
  float: left;
  margin-bottom: 161px;
  margin-left: 18px;
  margin-right: 18px;
  padding: 0.6%;
  width: 256px;
  box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.1);
}
.quadro img {
  height: auto;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  margin-top: 21px;
  margin-bottom: 21px;
}
.quadro .nomeCarro {
  margin-top: 7px;
  border: 0px solid #f00;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  text-transform: capitalize;
  height: 30px;
}
.quadro .nomeCarro p {
  text-transform: uppercase;
}
.quadro .parcela {
  margin-bottom: 26px;
  border: 0px solid #f00;
  color: #939598;
  text-align: center;
  margin-top: 24px;
  font-size: 16px;
  text-align: center;
}
.quadro .parcela .destaqueQuadro {
  font-weight: 700;
/* border: 1px solid red; */
  display: block;
  font-size: 22px;
  color: #18527a;
}
.quadro .credito {
  color: #939598;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}
.quadro .credito .destaque {
  color: #58595b;
  display: block;
  font-size: 24px !important;
}
.quadro a {
  background-color: #18527a;
  color: #fff;
  display: block;
  height: 50px;
  padding: 15px 0 0 0;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  top: 85px !important;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 12px;
}
.textarea {
  width: 116% !important;
}
@media screen and (max-width: 1920px) {
  .call-cta-wrapper {
    bottom: 38px;
    position: fixed;
    right: 6px;
    text-align: center;
    z-index: 10;
  }
  .tooltip-text {
    color: #6d6e71;
    font-size: 13px;
    margin-bottom: 11px;
    font-weight: bold;
  }
  .tooltip {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    min-height: 77px !important;
    padding: 8px 7px 6px;
    position: relative;
    text-align: center;
    width: 125px;
    position: relative;
/* right: 0px!important; */
  }
  .call-cta {
    bottom: 13px;
    position: relative;
    right: -4px;
    width: 65px;
  }
}
@media screen and (max-width: 1366px) {
  .call-cta-wrapper {
    bottom: 38px;
    position: fixed;
    right: 6px;
    text-align: center;
    z-index: 10;
  }
  .tooltip-text {
    color: #6d6e71;
    font-size: 13px;
    margin-bottom: 11px;
    font-weight: bold;
  }
  .tooltip {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    min-height: 77px !important;
    padding: 8px 7px 6px;
    position: relative;
    text-align: center;
    width: 125px;
    position: relative;
/* right: 0px!important; */
  }
  .call-cta {
    bottom: 13px;
    position: relative;
    right: -4px;
    width: 65px;
  }
  .quadro {
    width: 256px;
  }
}
@media screen and (max-width: 979px) {
  .textarea {
    width: 125% !important;
  }
}
.textoApresentacao {
  position: relative;
  float: left;
  width: 49%;
  padding: 0 30px 0px 30px;
}
h3:nth-child(2) {
  border: 1px solid #f00;
}
.personaRodape {
  border: 0px solid #f00;
  animation: mymove 3s;
}
.textosAnimados {
  animation: myTexts 3s;
}
.desktop,
.table_desktop {
  display: block;
}
.mobile,
.table_mobile {
  display: none;
}
.destaque {
  background-color: #018fdb !important;
  color: #fff !important;
  font-size: 22px !important;
  text-transform: capitalize !important;
  font-weight: bold !important;
  width: 100% !important;
}
.table_mobile table tr td {
  font-size: 15px !important;
  font-weight: bold;
}
.table_mobile thead td {
  background-color: #18527a !important;
}
@media (max-width: 1000px) {
  .table_desktop {
    display: none;
  }
  .table_mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
    position: relative;
    width: 100%;
    padding: 5px 0 5px 0;
  }
  .mobile img {
    border: 0px solid #f00;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  .quadro {
    width: 90%;
  }
  .textoApresentacao {
    float: none;
    width: 99%;
  }
  #slider {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .table,
  .plans {
    position: relative;
    left: -5px;
  }
  .table-basic tbody td {
    font-size: 12px;
    padding: 5px 10px 12px 10px;
  }
  .submit-ending-form {
    width: 100% !important;
  }
  .checkbox-wrapper {
    display: block;
    border: 0px solid #f00;
    width: 100%;
    margin-left: 0 !important;
  }
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  position: absolute;
  top: -88px;
  left: -70px;
  z-index: -1;
  border: 0px solid #f00;
}
#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}
#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 912px;
  height: 685px;
/*background: #ccc;*/
  text-align: center;
  line-height: 300px;
}
a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
/*background: #2a2a2a;*/
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}
a.control_prev {
  border-radius: 0 2px 2px 0;
}
a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
.whatsAppLateral:before {
  content: "";
  border: 1px solid #f00;
  height: 60px;
  width: 60px;
  display: block;
}
.whatsAppLateral {
  border-radius: 69px;
  color: #fff;
  font-size: 67px;
  height: 75px;
  position: relative;
  right: -9px;
  top: 25px;
  width: 75px;
  background-color: #25d366;
}
.whatsAppLateral > * {
  position: absolute;
}
.container {
  position: relative;
  top: 75px;
  width: 200px;
  right: -26px;
  perspective: 1000;
  height: 100%;
  margin: 0 auto;
  position: relative;
  right: -15px;
  top: 83px;
  width: 200px;
}
.pulse-button {
  animation: pulse 0.8s infinite;
  box-shadow: 0 0 0 0 rgba(37,211,102,0.74);
  box-shadow: 0 0 0 0 rgba(37,211,102,0.53);
  background: rgba(37,211,102,0.82);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(37,211,102,0.53);
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Trebuchet MS, sans-serif;
  font-size: 4.3em;
  font-weight: light;
  height: 65px;
  left: 74%;
  letter-spacing: -1px;
  line-height: 66px;
  margin-left: -50px;
  margin-top: -50px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 65px;
}
.pulse-button:hover {
  animation: none;
}
.close-whatsapp {
  color: #dadada !important;
  z-index: 10;
}
input,
select {
  color: #8a8a8a;
  background-color: #fff;
}
.slick-dots li button {
  display: none;
}
#slider {
  height: 100%;
  width: 73%;
}
.whatsapp-wrapper {
  top: 30% !important;
}
.tracked {
  color: #fff;
}
.align1 {
  position: relative !important;
}
@media screen and (max-width: 1279px) {
  .align1 {
    left: 0% !important;
  }
}
@media screen and (max-width: 997px) {
  .money-grubbing {
    display: none;
  }
}
@-moz-keyframes mymove {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 59px;
    opacity: 1;
  }
}
@-webkit-keyframes mymove {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 59px;
    opacity: 1;
  }
}
@-o-keyframes mymove {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 59px;
    opacity: 1;
  }
}
@keyframes mymove {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 59px;
    opacity: 1;
  }
}
@-moz-keyframes myTexts {
  0% {
    bottom: -40%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes myTexts {
  0% {
    bottom: -40%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes myTexts {
  0% {
    bottom: -40%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes myTexts {
  0% {
    bottom: -40%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  @include transform(scale(.9));
  70% {
    box-shadow: 0 0 0 20px rgba(90,153,212,0);
  }
  @include transform(scale(1));
  100% {
    box-shadow: 0 0 0 0 rgba(90,153,212,0);
  }
  @include transform(scale(.9));
}
@-webkit-keyframes pulse {
  @include transform(scale(.9));
  70% {
    box-shadow: 0 0 0 20px rgba(90,153,212,0);
  }
  @include transform(scale(1));
  100% {
    box-shadow: 0 0 0 0 rgba(90,153,212,0);
  }
  @include transform(scale(.9));
}
@-o-keyframes pulse {
  @include transform(scale(.9));
  70% {
    box-shadow: 0 0 0 20px rgba(90,153,212,0);
  }
  @include transform(scale(1));
  100% {
    box-shadow: 0 0 0 0 rgba(90,153,212,0);
  }
  @include transform(scale(.9));
}
@keyframes pulse {
  @include transform(scale(.9));
  70% {
    box-shadow: 0 0 0 20px rgba(90,153,212,0);
  }
  @include transform(scale(1));
  100% {
    box-shadow: 0 0 0 0 rgba(90,153,212,0);
  }
  @include transform(scale(.9));
}
#MeuModalBG {
  background-color: rgba(24,82,122,0.94);
  height: 100% !important;
  left: 0 !important;
  position: fixed;
  top: 0 !important;
  width: 100%;
  z-index: 40;
}
#MeuModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#closeBTN {
  position: absolute;
  top: -34px;
  right: -44px;
  border: 7px solid #255c81;
  padding: 9px 15px 7px 18px;
  background-color: #fff;
  border-radius: 107px;
  width: 68px;
  font-size: 30px;
  font-weight: bolder;
  height: 68px;
  color: #25d366;
}
@media (max-width: 600px) {
  #closeBTN {
    background-color: #fff;
    border: 7px solid #255c81;
    border-radius: 107px;
    color: #25d366;
    font-size: 30px;
    font-weight: bolder;
    height: 68px;
    padding: 9px 15px 7px 18px;
    position: absolute;
    right: 7px;
    top: 8px;
    width: 68px;
  }
  #MeuModal {
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    border: 0px solid #f00;
/* height: 205px!important; */
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
.red {
  background-color: #f00 !important;
  color: #fff !important;
  font-weight: bold !important;
}
.verde {
  background-color: #25d366 !important;
  color: #fff !important;
  font-weight: bold !important;
}
.tables {
  margin-bottom: 83px;
}
.whatsApplateral {
  font-size: 67px;
  position: relative;
  right: -9px;
  top: 25px;
  color: #fff;
/* border: 2px solid; */
/* background-color: #25d366; */
  border-radius: 69px;
  width: 75px;
  height: 75px;
}
.center-content {
  width: 100%;
  margin: auto;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 998px) and (max-width: 1279px) {
  .center-content {
    padding: 0 10px;
  }
}
.center-content:not(.not-relative) {
  position: relative;
}
@media screen and (max-width: 997px) {
  .center-content:not(.nopadding) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 997px) {
  .center-content:not(.inner) {
    width: 1170px;
    margin-top: 23;
  }
}
@media screen and (min-width: 998px) and (max-width: 1279px) {
  .center-content:not(.inner) {
    width: 1000px !important;
  }
}
.flexed {
  display: flex;
}
@media screen and (min-width: 997px) {
  .flexed.default {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 997px) {
  .flexed.start {
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
  }
}
@media screen and (max-width: 997px) {
  .flexed:not(.becomes-carouse-on-mobile) {
    flex-flow: column wrap;
  }
}
.dib {
  display: inline-block;
  vertical-align: top;
}
.cleared:after {
  content: '';
  display: block;
  clear: both;
}
.transitioned-basic,
.submit-budget-form,
.table-picker,
.submit-proposition,
.submit-ending-form,
.call-me-later,
.close-modal,
.opening-contain-obrigado .tks-text a,
.form-pickers,
.phone-number a,
.whatsapp-wrapper {
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 997px) {
  .hideonmobile {
    display: none;
  }
}
@media screen and (max-width: 997px) {
  .becomes-carousel-on-mobile .slick-slide {
    margin: 0 40px;
  }
  .becomes-carousel-on-mobile .slick-list {
    margin: 0 -40px;
  }
}
.oldiewarning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #32363b;
  overflow: hidden;
  z-index: 1000;
  display: none;
}
.oldiewarning p,
.oldiewarning a {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 500px;
  color: #fff;
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
}
.lt-ie9 {
  overflow: hidden;
}
.lt-ie9 .oldiewarning {
  display: block;
}
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/segoeui.ttf") format('truetype');
  font-weight: 400;
  font-style: 'normal';
}
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/seguisb.ttf") format('truetype');
  font-weight: 500;
  font-style: 'normal';
}
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/segoeuib.ttf") format('truetype');
  font-weight: 700;
  font-style: 'normal';
}
.t-white {
  color: #fff;
}
.t-blue {
  color: #18527a;
}
.t-purple {
  color: $purple;
}
.t-gray {
  color: $lightGray;
}
.t-darkBlue {
  color: $darkBlue;
}
.t-xxs {
  font-size: 10px;
}
.t-xs {
  font-size: 12px;
}
.t-s {
  font-size: 14px;
}
.t-r {
  font-size: 16px;
}
.t-g {
  font-size: 18px;
}
.t-xg {
  font-size: 20px;
}
.t-xxg {
  font-size: 22px;
}
.t-xxxg {
  font-size: 24px;
}
.t-xxxxg {
  font-size: 28px;
}
.t-exg {
  font-size: 36px;
}
.t-exxg {
  font-size: 40px;
}
.lh-xs {
  line-height: 14px;
}
.lh-s {
  line-height: 16px;
}
.lh-r {
  line-height: 18px;
}
.lh-g {
  line-height: 20px;
}
.lh-xg {
  line-height: 22px;
}
.lh-xxg {
  line-height: 24px;
}
.hiline {
  line-height: 26px;
}
.hiline-extra {
  line-height: 44px;
}
.margin-xxxs {
  margin-bottom: 10px;
}
.margin-xxs {
  margin-bottom: 15px;
}
.margin-xs {
  margin-bottom: 25px;
}
.margin-s {
  margin-bottom: 30px;
}
.margin {
  margin-bottom: 40px;
}
.margin-g {
  margin-bottom: 55px;
}
.margin-xg {
  margin-bottom: 65px;
}
.margin-xxg {
  margin-bottom: 75px;
}
.margin-xxxg {
  margin-bottom: 85px;
}
.t-centered {
  text-align: center;
}
.limited-width {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.upper {
  text-transform: uppercase;
}
.med {
  font-weight: 500;
}
.sb {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
a.und,
.und {
  text-decoration: underline !important;
}
.ita {
  font-style: italic;
}
.submit-budget-form {
  width: 100%;
  height: 47px;
  background-color: #18527a;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 4px;
}
.submit-budget-form:hover {
  color: #25d366;
  background-color: #fff;
  border-color: #25d366;
}
.table-picker {
  height: 47px;
  border-radius: 4px;
  color: #fff;
  background-color: #1b6c9d;
  border: 0;
}
@media screen and (max-width: 997px) {
  .table-picker {
    font-size: 12px;
    width: 47.5%;
  }
}
@media screen and (min-width: 997px) {
  .table-picker {
    font-size: 16px;
    width: 22.22%;
  }
}
.table-picker.active,
.table-picker:hover {
  background-color: #18527a;
}
@media screen and (max-width: 997px) {
  .table-picker:nth-of-type(-n+2) {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 997px) {
  .table-picker + .table-picker:not(:nth-of-type(2n+3)) {
    margin-left: 2.5%;
  }
}
@media screen and (min-width: 997px) {
  .table-picker + .table-picker {
    margin-left: 3.4%;
  }
}
.submit-proposition {
  width: 100%;
  height: 47px;
  background-color: #18527a;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  border: 2px solid transparent;
}
.submit-proposition:hover {
  color: #18527a;
  background-color: #fff;
  border-color: #18527a;
}
.submit-proposition .fa-paper-plane {
  color: #25d366;
  font-size: 16px;
  margin-right: 5px;
}
.submit-ending-form {
  height: 47px;
  background-color: #18527a;
  width: 190px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 4px;
  margin-top: 29px;
  width: 190px;
  right: 41px;
  bottom: -74px;
}
@media screen and (min-width: 997px) {
  .submit-ending-form {
    position: absolute;
  }
}
.submit-ending-form i {
  color: #25d366;
  margin-right: 10px;
}
.submit-ending-form:hover {
  background-color: #fff;
  color: #25d366;
  border-color: #25d366;
}
.call-me-later {
  width: 300px;
  height: 42px;
  background-color: #18527a;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 4px;
}
.call-me-later:hover {
  color: #25d366;
  border-color: #25d366;
  background-color: #fff;
}
.confirm {
  width: 78px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-color: #18527a;
  font-size: 16px;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: 0.2s ease;
}
.confirm:hover {
  background-color: #fff;
  color: #25d366;
  border-color: #25d366;
}
.close-whatsapp {
  color: #6d6e71;
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 32px;
  border: 0;
  background-color: transparent;
  padding: 0;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 48px;
  border: 0;
  background-color: transparent;
  padding: 0;
  color: #fff;
}
.close-modal:hover {
  color: #25d366;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.superseguros {
  position: absolute;
  right: 0;
  top: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 700;
  width: 280px;
  height: 47px;
  display: block;
  color: #fff;
  background-color: #18527a;
  border-radius: 5px;
  text-align: center;
  line-height: 41px;
  border: 2px solid transparent;
  transition: all 0.25s ease;
}
.superseguros:hover {
  border-color: #18527a;
  color: #18527a;
  background-color: #fff;
}
.opening-contain-obrigado {
  background: url("../images/opening-obrigado.jpg") no-repeat top center/cover;
  height: 100vh;
}
.opening-contain-obrigado .tks-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  top: 43%;
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
  font-weight: 700;
  text-align: center;
  max-width: 1000px;
}
@media screen and (max-width: 599px) {
  .opening-contain-obrigado .tks-text {
    font-size: 28px;
  }
}
.opening-contain-obrigado .tks-text a {
  color: #25d366;
}
.opening-contain-obrigado .tks-text a:hover {
  color: #18527a;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
@media screen and (max-width: 997px) {
  .cloudy {
    background-color: #18527a;
    padding: 60px 0 0 0;
  }
}
@media screen and (min-width: 997px) {
  .cloudy {
    min-height: 945px;
    width: 100%;
    margin-top: -400px;
    padding-top: 570px;
    position: relative;
  }
}
.cloudy .center-content {
  z-index: 3;
}
.cloudy.hidden {
  display: none;
}
@media screen and (max-width: 997px) {
  .cloudy .row small {
    height: auto;
    overflow: hidden;
  }
}
.cloudy-bg {
  background: url("../images/footer-background001.jpg") no-repeat center center/cover;
  min-height: 1457px /*min-height 1355px*/;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 997px) {
  .cloudy-bg {
    display: none;
  }
}
@media screen and (min-width: 997px) {
  .footer-logo-wrapper {
    width: 28%;
    float: left;
    padding-top: 75px;
  }
}
.ending-description {
  color: #fff;
}
@media screen and (max-width: 997px) {
  .ending-description {
    margin-top: 30px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 997px) {
  .ending-description {
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    float: left;
    width: 64.52%;
    margin-left: 7.48%;
  }
}
.ending-description .variant {
  color: #25d366;
  font-weight: bold;
}
@media screen and (max-width: 997px) {
  .ending-description.four {
    width: 100% !important;
  }
}
.ending-description.four:not(:last-child) {
  margin-bottom: 30px;
}
.terms {
  font-size: 16px;
  color: #fff;
  line-height: 20px;
}
@media screen and (max-width: 997px) {
  .terms {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 997px) {
  .terms {
    float: left;
  }
}
.copyright {
  background-color: #25d366;
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
}
@media screen and (max-width: 997px) {
  .copyright {
    text-align: center;
  }
}
@media screen and (min-width: 997px) {
  .copyright {
    bottom: 0;
    height: 60px;
    position: relative;
  }
}
.copyright:before {
  content: '';
  display: block;
  width: 100%;
  background-color: rgba(37,211,102,0.5);
  height: 10px;
  top: -10px;
}
.signature {
  opacity: 0;
  position: absolute;
}
@media screen and (min-width: 997px) {
  .signature {
    float: right;
  }
}
.signature-link {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  margin-top: 5px;
  display: block;
}
@media screen and (min-width: 997px) {
  .signature-link {
    margin-right: 10px;
    vertical-align: top;
    display: inline-block;
  }
}
.row {
  border: 1px solid #17527a;
  display: block;
  height: auto;
  overflow: auto;
  position: relative;
}
.row small {
  color: #fff;
  display: block;
  height: 31px;
  padding-top: 19px;
}
.just {
  text-align: justify !important;
}
.deslocamento {
  border: 1px solid #17527a;
  transform: translateY(17px);
  padding-top: 20px;
}
.four {
  font-size: 12px !important;
  border: 0 solid #f00;
  display: inline-block;
  margin: 0 !important;
  padding: 1%;
  text-align: left !important;
  width: 25% !important;
  line-height: 20px !important;
}
.four h4 {
  font-weight: bold;
}
.four:first-of-type {
  padding-left: 0;
}
.four:last-of-type {
  padding-right: 0;
}
.rodapeDados {
  position: relative;
  top: -20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24,82,122,0.93);
  z-index: 11;
  display: none;
}
.form-wrapper-all {
  min-height: 490px;
  width: 520px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  display: none;
}
@media screen and (max-width: 997px) {
  .form-wrapper-all {
    width: 100%;
  }
}
.form-wrapper-all .instance:not(.active) {
  display: none;
}
.form-pickers {
  background-color: #f1f2f2;
  color: #58595b;
  font-size: 11px;
  height: 47px;
  border: 0;
  display: inline-block;
  vertical-align: top;
  width: 32.666%;
  font-weight: 700;
}
.form-pickers + .form-pickers {
  margin-left: 0.6667%;
}
.form-pickers i {
  color: #25d366;
  font-size: 16px;
  margin-right: 5px;
}
.form-pickers i.alt {
  font-weight: 300;
}
.form-pickers.active,
.form-pickers:hover {
  background-color: #18527a;
  color: #fff;
}
.form-pickers.active i,
.form-pickers:hover i {
  color: #25d366;
}
.leave-message {
  text-align: center;
}
.leave-message .fields {
  max-width: 300px;
  margin: auto;
}
@media screen and (min-width: 997px) {
  .leave-message .fields .half {
    width: 47.5%;
    float: left;
  }
}
@media screen and (min-width: 997px) {
  .leave-message .fields .half + .half {
    margin-left: 5%;
  }
}
.leave-message .fields .full {
  clear: both;
}
.leave-message .field-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.leave-message .field-wrapper .icon {
  position: absolute;
  left: 2px;
  height: 36px;
  background-color: #fff;
  top: 1px;
  bottom: 1px;
  width: 36px;
  text-align: center;
}
.leave-message .field-wrapper .icon i {
  color: #25d366;
  font-size: 16px;
  line-height: 34px;
}
.field-green {
  height: 38px;
  border: 1px solid #25d366;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
}
.field-green.bigger {
  height: 75px;
}
.field-green.has-icon {
  padding-left: 40px;
}
.leave-title {
  font-size: 20px;
  color: #6d6e71;
  font-weight: 700;
  line-height: 24px;
  padding-top: 40px;
  margin-bottom: 20px;
  max-width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.leave-title .variant {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}
.callers {
  font-size: 14px;
  color: #6d6e71;
  margin-top: 18px;
}
.callers .number {
  padding: 3px 8px;
  border-radius: 50%;
  color: #fff;
  background-color: #f00;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
  background: #ccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
  background: #ccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
}
input[type=range]::-ms-fill-upper {
  background: #ccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  height: 2.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
  background: #ccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
  background: #ccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
}
input[type=range]::-ms-fill-upper {
  background: #ccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  height: 2.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
  background: #ccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
  background: #ccc;
  border-radius: 0px;
  border: 0px solid #18d501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
}
input[type=range]::-ms-fill-upper {
  background: #ccc;
  border: 0px solid #18d501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px rgba(255,255,255,0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  border: 1.1px solid rgba(56,58,60,0.43);
  height: 21px;
  width: 21px;
  border-radius: 12px;
  background: #25d366;
  cursor: pointer;
  height: 2.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
.barraBrancaelogo {
  position: absolute;
  top: 71px;
}
.img-phone {
  position: relative;
  right: 100px;
}
p.phone-header {
  position: relative;
  right: 18px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  bottom: 54px;
}
@media screen and (max-width: 997px) {
  p.phone-header {
    position: fixed !important;
    z-index: 12;
  }
}
.logos {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  left: 0;
}
.logo-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}
@media screen and (max-width: 997px) {
  .logo-wrapper {
    max-width: 300px;
  }
}
@media screen and (min-width: 997px) {
  .logo-wrapper {
    width: 503px;
  }
}
@media screen and (max-width: 1000px) {
  .barraBrancaelogo {
    position: absolute;
    top: 1px !important;
    left: 50%;
    transform: translateX(-50%);
    height: 190px;
    width: 326px;
  }
  .barraBrancaelogo img {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border: 0 solid #f00;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 100%;
    height: 159px;
    top: -7px;
  }
}
.telefoneContato {
  display: none;
}
@media screen and (min-device-width: 1800px) and (max-device-width: 1920px) {
  .telefoneContato {
    display: block;
    position: absolute;
    top: 73px;
    right: 18%;
  }
}
@media screen and (min-device-width: 1601px) and (max-device-width: 1799px) {
  .telefoneContato {
    display: block;
    position: absolute;
    top: 73px;
    right: 15%;
  }
}
@media screen and (min-device-width: 1300px) and (max-device-width: 1600px) {
  .telefoneContato {
    display: block;
    position: absolute;
    top: 73px;
    right: 6%;
  }
}
@media screen and (max-device-width: 1299px) {
  .telefoneContato {
    clear: none;
  }
}
@media screen and (max-device-width: 999px) {
  .telefoneContato,
  .linkSeguro {
    display: none;
  }
}
#Topo1 {
  position: absolute !important;
  top: -29px !important;
  background-color: #fff !important;
  width: 100vw;
  left: 50% !important;
  transform: translateX(-50%) !important;
  height: 119px !important;
}
#Topo2 {
  position: absolute;
  top: 95px;
/* border: 1px solid red; */
  left: 50%;
  transform: translateX(-50%);
  padding-top: 7px;
  background-color: rgba(255,255,255,0);
/* width: 137%; */
}
#Topo2 img {
/* border: 0 solid red; */
  height: auto !important;
  position: relative;
  top: -7px;
  width: 192px;
}
.primeiratlogoTopoBarraBranca {
  transform: translateY(-20px);
  height: 113px;
}
@media screen and (max-width: 997px) {
  #Topo1 img {
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    top: 55%;
    max-width: 266px;
    height: auto;
  }
}
.opening-contain-form {
  background: url("../images/opening1.jpg") no-repeat top center/cover;
}
@media screen and (max-width: 997px) {
  .opening-contain-form {
    padding-top: 185px;
  }
}
@media screen and (min-width: 997px) {
  .opening-contain-form {
    min-height: 1033px;
    padding-top: 266px;
  }
}
.opening-contain-form .title-several-variants {
  text-align: center;
}
@media screen and (max-width: 997px) {
  .opening-contain-form .scroll-to-see {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 997px) {
  .textoApresentacao {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 997px) {
  .textoApresentacao {
    margin-bottom: 74px;
  }
}
@media screen and (max-width: 997px) {
  .textoApresentacao {
    text-align: center;
  }
}
.submit-budget {
  background-color: #fff;
  padding-top: 42px;
  padding-bottom: 46px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 420px;
  min-height: 595px;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1), 0 0 0px 12px rgba(255,255,255,0.2);
  margin-bottom: 51px;
}
@media screen and (min-width: 997px) {
  .submit-budget {
    float: right;
  }
}
.submit-budget .field {
  border: 1px solid #25d366;
  padding: 5px 10px;
  height: 40px;
  border-radius: 4px;
  width: 100%;
}
.submit-budget > .field-wrapper {
  margin-bottom: 14px;
  width: 100%;
  display: block;
}
.form-title {
  font-weight: 500;
  margin-bottom: 13px;
  color: #6d6e71;
}
@media screen and (max-width: 997px) {
  .form-title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 997px) {
  .form-title {
    font-size: 22px;
    line-height: 42px;
  }
}
.form-title .variant {
  display: block;
  font-size: 40px;
  color: #18527a;
  font-weight: 700;
}
.form-desc {
  font-size: 16px;
  line-height: 20px;
  color: #6d6e71;
  margin-bottom: 15px;
}
.checkbox-desc {
  font-weight: 500;
  color: #6d6e71;
  font-size: 16px;
  margin-bottom: 14px;
  line-height: 20px;
}
.checks {
  font-size: 0;
}
.checkbox-wrapper {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #6d6e71;
  line-height: 20px;
}
.checkbox-wrapper p {
  padding-top: 2.3px;
}
.checkbox-wrapper input {
  height: 20px;
  width: 16px;
}
.checkbox-wrapper + .checkbox-wrapper {
  margin-left: 12px;
}
.track-wrapper {
  position: relative;
}
.track-wrapper:before,
.track-wrapper:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  background-color: #ccc;
  border-radius: 50%;
}
.track-wrapper:before {
  left: 0;
}
.track-wrapper:after {
  right: 0;
}
.range-desc {
  font-size: 16px;
  line-height: 20px;
  color: #6d6e71;
  margin-bottom: 18px;
}
@media screen and (max-width: 997px) {
  .textApresentacao {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 997px) {
  .textApresentacao {
    margin-bottom: 74px;
  }
}
.title-several-variants {
  color: #6d6e71;
}
@media screen and (max-width: 997px) {
  .title-several-variants {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 997px) {
  .title-several-variants {
    margin-bottom: 58px;
    font-size: 40px;
    line-height: 40px;
  }
}
.bluey {
  font-weight: bold;
  color: #18527a;
  text-transform: uppercase;
}
@media screen and (max-width: 997px) {
  .bluey {
    font-size: 25px;
  }
}
@media screen and (min-width: 997px) {
  .bluey {
    font-size: 40px;
  }
}
.bluey.nobreak {
  display: inline-block;
}
.table01 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 997px) {
  .table01 {
    margin-bottom: 61px;
  }
}
.dib-father {
  text-align: center;
  font-size: 0;
  margin: auto;
}
@media screen and (min-width: 997px) {
  .dib-father {
    padding: 65px 0;
  }
}
.money-grubbing {
  display: none;
}
.icon-wrapper {
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 997px) {
  .icon-wrapper {
    width: 300px;
  }
}
@media screen and (min-width: 997px) {
  .icon-wrapper {
    width: 220px;
  }
}
@media screen and (max-width: 997px) {
  .icon-wrapper:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 997px) {
  .icon-wrapper + .icon-wrapper {
    margin-left: 110px;
  }
}
@media screen and (max-width: 599px) {
  .icon-instance {
    max-width: 120px;
  }
}
.icon-description {
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
}
@media screen and (max-width: 997px) {
  .icon-description {
    font-size: 16px;
  }
}
@media screen and (min-width: 997px) {
  .icon-description {
    font-size: 20px;
  }
}
.other-plans {
  padding-top: 70px;
  padding-bottom: 80px;
}
.overflow-wrapper {
  width: 100%;
}
@media screen and (max-width: 997px) {
  .overflow-wrapper {
    overflow-x: scroll;
  }
}
.buttons-and-table {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 997px) {
  .buttons-and-table {
    width: 100%;
  }
}
.table-basic:not(.active) {
  display: none;
}
.table-basic td {
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
}
.table-basic table {
  width: 900px;
  margin-left: 67px;
}
.table-basic thead td {
  background-color: #0090db;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 997px) {
  .table-basic thead td {
    height: 45px;
    font-size: 13px;
  }
}
@media screen and (min-width: 997px) {
  .table-basic thead td {
    font-size: 16px;
    height: 31px;
  }
}
.table-basic thead td:first-of-type {
  border-top-left-radius: 5px;
}
.table-basic thead td:last-of-type {
  border-top-right-radius: 5px;
}
.table-basic tbody td {
  background-color: #d4effc;
  color: #6d6e71;
  height: 30px;
}
@media screen and (max-width: 997px) {
  .table-basic tbody td {
    font-size: 12px;
  }
}
@media screen and (min-width: 997px) {
  .table-basic tbody td {
    font-size: 16px;
  }
}
.pickers {
  margin-bottom: 32px;
}
.proposition {
  background: url("../images/moneybackground2.jpg") no-repeat center center/cover;
  position: relative;
}
@media screen and (max-width: 997px) {
  .proposition {
    padding-bottom: 50px;
  }
}
.proposition .center-content {
  min-height: 229px;
}
@media screen and (min-width: 997px) {
  .proposition .one-fourth {
    float: left;
    width: 21.5%;
    margin-right: 2%;
  }
}
@media screen and (min-width: 997px) {
  .proposition .one-fourth + .one-fourth {
    margin-left: 1.66%;
  }
}
@media screen and (min-width: 997px) {
  .proposition-form {
    width: 76% /*width: 850px */;
  }
}
.proposition-title {
  color: #fff;
  margin-bottom: 25px;
  padding-top: 50px;
  text-shadow: 3px 2.5px rgba(0,0,0,0.15);
}
@media screen and (max-width: 997px) {
  .proposition-title {
    line-height: 32px;
    font-size: 28px;
  }
}
@media screen and (min-width: 997px) {
  .proposition-title {
    font-size: 36px;
    line-height: 42px;
  }
}
.proposition-title .variant {
  font-weight: 700;
}
.field-whitey {
  width: 100%;
  border: 0;
  background-color: #fff;
  height: 47px;
  border-radius: 4px;
  padding: 5px 10px;
}
@media screen and (max-width: 997px) {
  .field-whitey {
    margin-bottom: 15px;
  }
}
.persona {
  width: 223px;
  height: 358px;
  background: url("../images/persona00.png") no-repeat center center/contain;
  position: absolute;
  bottom: 0;
  right: 59px;
}
@media screen and (max-width: 997px) {
  .persona {
    display: none;
  }
}
.uncontained-bg {
  width: 100%;
  height: 1144px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/bg.jpg"), linear-gradient(to bottom, #fff, transparent);
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
  left: 0;
}
.ending .center-content {
  padding-bottom: 60px;
}
@media screen and (max-width: 997px) {
  .ending .center-content {
    padding-top: 52px;
  }
}
@media screen and (min-width: 997px) {
  .ending .center-content {
    padding-top: 106px;
  }
}
.ending-form-title {
  color: #6d6e71;
  font-size: 40px;
  line-height: 40px;
}
.ending-form-title .variant {
  display: block;
  color: #18527a;
  font-weight: 700;
  margin-bottom: 36px;
}
.ending-form {
  max-width: 600px;
  position: relative;
}
@media screen and (max-width: 997px) {
  .ending-form {
    margin-left: auto;
    margin-right: auto;
  }
}
.ending-form .message {
  width: 80%;
}
@media screen and (min-width: 997px) {
  .ending-form .field-wrapper:not(.message) {
    padding: 0 18px 0 0;
    width: 47.5%;
    float: left;
  }
}
.ending-form-desc {
  font-size: 16px;
  color: #6d6e71;
  line-height: 24px;
}
.ending-form-desc:not(:last-child) {
  margin-bottom: 30px;
}
.half-info {
  margin-bottom: 35px;
}
@media screen and (min-width: 997px) {
  .half-info {
    float: left;
    width: 45.83%;
  }
}
@media screen and (min-width: 997px) {
  .half-info + .half-info {
    margin-left: 8.34%;
  }
}
.half-title {
  font-size: 20px;
  color: #6d6e71;
  line-height: 20.56px;
  margin-bottom: 28px;
}
.half-title .variant {
  display: block;
  color: #18527a;
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
}
.phone-number {
  font-size: 24px;
  color: #18527a;
  font-weight: 700;
  margin-left: 10px;
  padding-top: 12px;
}
.phone-number a {
  color: inherit;
}
.phone-number a:hover {
  color: #25d366;
}
.fa-whatsapp.huge {
  font-size: 50px;
  color: #25d366;
}
@media screen and (min-width: 997px) {
  .ending-form .half {
    width: 47.5%;
    float: left;
  }
}
@media screen and (min-width: 997px) {
  .ending-form .half + .half:not(:nth-of-type(2n+3)) {
    margin-left: 5%;
  }
}
.ending-form .field-wrapper {
  margin-bottom: 28px;
  display: block;
}
.field-description {
  color: #6d6e71;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 7px;
}
.field-blue {
  height: 38px;
  width: 100%;
  border: 1px solid #18527a;
  border-radius: 4px;
  padding: 0px 5px 0px 5px;
}
.field-blue.bigger {
  height: 100px;
}
.salesman-prop {
  width: 630px;
  height: 945px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url("../images/persona01.png") no-repeat center center/contain;
}
.call-cta-wrapper {
  position: fixed;
  right: 38px;
  bottom: 38px;
  z-index: 10;
  text-align: center;
}
@media screen and (max-width: 997px) {
  .call-cta-wrapper {
    display: none;
  }
}
.tooltip {
  width: 165px;
  min-height: 148px;
  padding: 0 14px;
  padding-top: 22px;
  padding-bottom: 19px;
  position: relative;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.tooltip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255,255,255,0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.tooltip-text {
  font-size: 14px;
  color: #6d6e71;
  margin-bottom: 11px;
}
.tooltip-text .variant {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.call-cta {
  margin-top: 30px;
}
.whatsapp-wrapper {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}
@media screen and (max-width: 997px) {
  .whatsapp-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  .whatsapp-wrapper {
    top: 30% !important;
  }
}
.whatsapp-wrapper.clicked {
  transform: translateY(-50%) translateX(100%);
}
@media screen and (min-width: 997px) {
  .handle-overflow-outer {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
}
@media screen and (max-width: 997px) {
  .handle-overflow-outer {
    width: 100%;
    overflow-x: scroll;
  }
}
.handle-overflow {
  width: 900px;
}
.handle-overflow img {
  max-width: none;
}
.mobile-whatsapp-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  z-index: 10;
}
@media screen and (min-width: 997px) {
  .mobile-whatsapp-wrapper {
    display: none;
  }
}
.mobile-whatsapp-wrapper a {
  height: 40px;
  display: inline-block;
  vertical-align: top;
  background-color: #25d366;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  width: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}
.mobile-whatsapp-wrapper a:last-of-type {
  border-left: 1px solid #fff;
}
.mobile-whatsapp-wrapper a i {
  font-weight: 400;
  color: #18527a;
}
.newLine {
  display: block;
  border: 0px solid #f00;
}
.brokenLine {
  clear: both;
}
.comparativo {
  border: 0px solid #f00;
  padding-left: 0px /*padding-left: 67px;*/;
}
